body {
    background-color: beige;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 100px);
}

.welcome {
    grid-column: 2 / 12;
    text-align: center;
    grid-row: 3;
    font-size: 40px;
}

.s-cartel {
    font-size: 80px;
}

.home {
    margin-left: 200px;
}

.info {
    font-size: 25px;
    font-weight: bold;
    margin-right: 100px;
    gap: 30px;
}

.title-sinaloa {
    color: white;
}

footer {
    grid-row: 3;
    background-color: white;
    height: 500px;
    grid-column: 2 / 12;
    text-align: center;
    border-radius: 50px;
}

.log-in {
    font-size: 60px;
    font-weight: bold;
    float: left;
    margin-left: 50px;
    margin-top: 50px;
}

.title-username {
    margin-top: 130px;
}

.title-password {
    margin-top: 20px;
}

.password,
.username {
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 4px;
}

.submit {
    margin-top: 15px;
    border: 1px solid black;
    background-color: transparent;
}

.submit:hover {
    background-color: beige;
}

.give-note {
    grid-row: 6;
    height: 50px;
    grid-column: 3;
    margin-top: 20px;
}

.header {
    grid-row: 3;
    grid-column: 3 / 6;
}

.label-title,
.label-date,
.label-info {
    font-size: 40px;
}

.inhoud {
    height: 60px;
}