body {
    background-color: beige;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 100px);
}

.welcome {
    grid-column: 1 / 12;
    text-align: center;
    grid-row: 5;
    font-size: 40px;
}

.s-cartel {
    font-size: 80px;
}

.loader {
    grid-column: 6 / 12;
    grid-row: 15;
    text-align: center;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid black;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.loading {
    grid-column: 1 / 12;
    text-align: center;
    grid-row: 12;
}

header {
    grid-column: 1 / 14;
    grid-row: 1;
}

.nav-sinaloa {
    font-size: 40px;
    margin-top: 20px;
    margin-left: 20px;
}